@charset "UTF-8";
body{position:absolute;height:auto;top:0;bottom:24px}.statusBar{height:24px;line-height:24px;font-size:1em;font-family:"Lato",sans-serif;position:fixed;bottom:0;right:0;left:0;background:#eee;}.statusBar > div{display:inline-block;width:33%}.statusBar .left{text-align:left;margin-left:.5%}.statusBar .center{text-align:center}.statusBar .right{text-align:right;margin-right:.5%}.statusBar img{display:none}