@charset "UTF-8"
barHeight = 24px

body
	position absolute
	height auto
	top 0
	bottom 24px

.statusBar
	height barHeight
	line-height barHeight
	font-size 1em
	font-family "Lato",sans-serif
	position fixed
	bottom 0
	right 0
	left 0
	background #EEEEEE
	& > div
		display inline-block
		width 33%
		height barHeight
		overflow hidden
	.left
		text-align left
		margin-left 0.5%
	.center
		text-align center
	.right
		text-align right
		margin-right 0.5%
	img
		display none

